.contactUsSection {
	width: 100vw;
	height: 45vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
  padding-bottom: 5rem;
  background: linear-gradient(300deg,#b969ff,#8f08ff);
  background-size: 120% 120%;
  animation: gradient-animation 12s ease infinite;
}


.contactTitle {
	text-align: center;
	margin-top: 5rem;
	color: #ffffff !important;
  text-schadow: 0px 0px 10px var(--primary);
  font-weight: 900;
  font-style: italic;
}

.contactText {
	text-align: center;
	color: #ffffff !important;
	font-size: 1.5rem;
	margin-top: 1rem;
    text-schadow: 0px 0px 10px var(--primary);
}	

.contactInqButton {
  margin-top: 2rem;
}

@media screen and (max-width: 800px) {
  .contactUsSection {
    height: 60vh;
  }

  .contactTitle {
    font-size: 4rem;
    line-height: 4.5rem;
  }
  
  .contactUsBox {
    width: 90%;
    margin-top: 2rem;
  }

  .contactInqButton {
  margin-top: 2rem;
}
}