.placeholderSection {
    width: 100%;
    height: calc(100% - 4rem);
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;

}

.leftSide, .rightSide {
    width: calc(50% - 4rem);
    height: calc(100% - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightSide {
    align-items: center;
}

.heroSubtitle {
    font-size: 1.3rem;
    font-weight: 500;
    color: #360063;
    margin-bottom: -.2rem;
}

.heroTitle {
    font-weight: 900;
    font-size: 3.5rem;
    color: #ffffff;
}

.heroText {
    color: #ffffff;
    margin-bottom: 2rem;
}

.ctaButton {
    width: 12rem;
    height: 3rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: orange;
    border-radius: 8px;
    border: none;
}

.ctaButton:hover {
    cursor: pointer;
    transition: .4s ease-in-out;
    background-color: #EA9403;
}

.contactContainer {
    display: flex;
    width: 30rem;
    height: 100%;
    background-color: #ffffff;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: -5px 30px 25px rgba(0,0,0,0.25);
}

.contactContent {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputBox {
    display: flex;
    flex-direction: column;
}

.inputBox input {
    margin-top: .3rem;
    height: 2.7rem;
    padding-left: 1rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 1.5px solid #ccc;
}

.sendButton {
    height: 2.7rem;
    border: none;
    background-color: orange;
    color: #ffffff;
    border-radius: 8px;
    font-size: 1rem;
}

.sendButton:hover {
    cursor: pointer;
    transition: .4s ease-in-out;
    background-color: #EA9403;

}

.privacyText {
    color: #ccc;
    font-size: .9rem;
}

.privacyLink {
    text-decoration: none;
    color: #981AFF;
}
.legalLinks {
    position: absolute;
    bottom: 1.5rem;
    left: 2rem;
    display: flex;
    align-items: center;
    color: #D7A7FF;
}

.devider {
    margin: 0 .3rem;
    color: #D7A7FF;
}

.linksLegal {
    margin-top: 1rem;
    color: #cecece;
}

.linksLegal a {
    color: #cecece;
    text-decoration: none;
}

@media screen and (max-width: 850px) {
    .placeholderSection {
        flex-direction: column;
        height: auto;
    }

    .leftSide, .rightSide {
        width: 90%;
        height: auto;
    }

    .rightSide {
        height: 40rem;
        margin-bottom: 10rem;
    }

    .leftSide {
        padding: 5rem 0;
    }
}

@media screen and (max-width: 500px) {
    .contactContainer {
        width: 98%;
    }

    .contactContent {
        width: 85%;
    }
}