.serviceSection {
	width: 100vw;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--bg-color);
	padding-top: 5rem;
}

.serviceHeadline {
	margin-bottom: 2rem;
	color: var(--text-color) !important;
}

.serviceContent {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: stretch; 
	gap: 1rem;
}

.service-atropos {
	width: 260px;
	height: 100%; 
	display: flex; 
}

.serviceCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100% !important;
	padding: 2rem 0;
	text-align: center;
	position: relative;
	cursor: pointer;
	border-radius: 2rem;
	background-color: var(--bg-darker);
	border: 1px solid var(--border-color);
}

.content .price {
	font-family: "nunito", sans-serif;
	color: var(--text-color);
	font-weight: 800;
	font-size: 2.7rem;
	margin: 1rem 0;
}

.ab {
	font-size: 1.2rem;
	color: var(--text-color);
}

.content .description {
	color: var(--text-color);
	margin-top: 10px;
	margin-left: 10%;
	font-size: 14px;
	width: 80%;
}

.features {
	padding-top: 2rem !important;
	padding-bottom: 1rem !important;
	line-height: 1.5rem;
}

.features i {
	color: green !important;
}

.content .title {
	font-weight: 600;
	text-transform: uppercase;
	color: var(--text-color);
	margin-top: 10px;
	font-size: 1rem;
	letter-spacing: 1px;
	font-family: "Poppins", sans-serif;   
}

.inqButton {
	background-color: var(--accent);  
	color: #ffffff;
	padding: .8rem 1.5rem;
	border-radius: 50rem;
	border: none;
	font-size: 1rem;
	text-decoration: none;
	display: flex;
	gap: 0.3rem;
	align-items: center;
	justify-content: center;
	width: 10rem;
	margin: auto;
	margin-bottom: 1rem;
}

.moreServiceBox {
	padding-bottom: 6rem;
}

.moreServiceButton {
	display: flex;
	gap: .5rem; 
	color: var(--text-color) !important; 
	font-size: 1.2rem;
	margin-top: 3rem;
}

.serviceContentMobile {
	display: none;
}

.swipeText {
	display: none;
	color: var(--link-color) !important;
}

@media screen and (max-width: 1100px) {
	.serviceContent {
		display: none;
	}

	.serviceContentMobile {
		display: flex;
		width: 90%;
		height: auto;
		justify-content: center;
		align-items: center;
		gap: 4rem;
	}

	.swiperSlide {
		width: 100%;
		max-width: 35rem;
		height: auto; 
		display: flex;
		align-items: stretch; 
		justify-content: center;
	}

	.swiperSlide .serviceCard {
		height: 100%; 
	}

	.serviceCard {
		margin: auto;
	}

	.swipeText {
		height: 2.5rem;
		width: 90%;
		text-align: center;
		color: rgba(255, 255, 255, 0.48);
		display: flex;
		gap: 1rem;
		align-items: center;
		justify-content: center;
	}
}

@media screen and (max-width: 800px) {
	.serviceHeadline {
		font-size: 2.2rem;
	}

	.swiperSlide {
		width: 90%;
		height: auto; 
		display: flex;
		align-items: stretch; 
		justify-content: center;
	}

	.moreServiceButton {
		margin-top: 2rem;
	}
}
