.placeholderSection {
    width: 100%;
    min-height: calc(100% - 4rem);
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;

}

.leftSide, .rightSide {
    width: calc(50% - 4rem);
    height: calc(100% - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightSide {
    align-items: center;
}

.heroSubtitle {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--sub-title-color);
    margin-bottom: -.2rem;
}

.heroTitle {
    font-weight: 900;
    font-size: 3.5rem;
    color: #ffffff;
}

.heroText {
    color: #ffffff;
    margin-bottom: 2rem;
}

.ctaButton {
    width: 12rem;
    height: 3rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: orange;
    border-radius: 8px;
    border: none;
}

.ctaButton:hover {
    cursor: pointer;
    transition: .4s ease-in-out;
    background-color: var(--accent);
}

.ratedo_badge {
    max-width: 7rem; 
}

.contactContainer {
    display: flex;
    width: 30rem;
    height: 38rem;
    background-color: #ffffff;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: -5px 30px 25px rgba(0,0,0,0.25);
}

.contactContent {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contactTitle {
    color: var(--title-color);
}

.inputBox {
    display: flex;
    flex-direction: column;
}

.inputBox .inputTitle {
    color: var(--title-color);
}

.inputBox input {
    margin-top: .3rem;
    height: 2.7rem;
    padding-left: 1rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 1.5px solid #ccc;
}

.privacyText {
    color: #ccc;
    font-size: .9rem;
}

.privacyLink {
    margin-top: .5rem;
    text-decoration: none;
    color: var(--link-color);
}

.devider {
    margin: 0 .3rem;
    color: #D7A7FF;
}

.linksLegal a {
    color: #cecece;
    text-decoration: none;
}

.sendButton {
    margin-top: .5rem;
    height: 2.7rem;
    padding: 0 3rem;
    border: none;
    background-color: orange;
    color: #ffffff;
    border-radius: 8px;
    font-size: 1rem;
}

.sendButton:hover {
    cursor: pointer;
    transition: .4s ease-in-out;
    background-color: var(--accent);

}

.g-recaptcha {
    margin: 1rem 0;
    width: 100% !important;
} 

.successMessage {
    display: none;
    width: 100%;
    background-color:rgb(214, 255, 204);
    border: 1.5px solid #eee;
    border-left: 5px solid #4CAF50;
    border-radius: 8px;
    padding: .7rem;
}

.errorMessage {
    display: none;
    width: 100%;
    background-color:rgb(255, 204, 204);
    border: 1.5px solid #eee;
    border-left: 5px solid rgb(175, 76, 76);
    border-radius: 8px;
    padding: .7 rem;
}


@media screen and (max-width: 850px) {
    .placeholderSection {
        flex-direction: column;
        height: 85rem;
    }

    .heroSubtitle {
        font-size: 1.1rem;
    }

    .heroTitle {
        line-height: 4rem;
    }

    .leftSide, .rightSide {
        width: 90%;
        height: auto;
    }

    .rightSide {
        height: 40rem;
        margin-bottom: 10rem;
    }

    .leftSide {
        padding: 5rem 0;
    }

    .privacyText {
        font-size: .8rem;
    }
}

@media screen and (max-width: 500px) {
    .contactContainer {
        width: 98%;
    }

    .contactContent {
        width: 85%;
    }
}