.featureSection {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem;
    border-radius: 75px 75px 0 0;
    background-color: #f7f7f7;
}

.featureContent {
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    overflow: hidden;
}

.featureHeader {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featureHeadline {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    color: #121212;
}

.checkInquiryButton {
    background-color: var(--accent);
    color: #ffffff;
    padding: .8rem 1.5rem;
    border-radius: 50rem;
    border: none;
    font-size: 1rem;
    text-decoration: none;
    display: flex;
    gap: 0.3rem;
    align-items: center;
}

.checkInquiryButton:hover {
    margin-right: .1rem;
    background-color: var(--accent-hover);
    cursor: pointer;
    animation: pulse 0.5s;
}

.featureText {
    padding-top: -1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
    color: #4f5865;
}

.featureList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem 0;
}

.featureCard {
    padding: 1rem;
    flex: 1 1 300px;
    max-width: calc(100% - 3rem) !important;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.featureIconBox {
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.designIconBox {
    background-color: #e94579;
}

.performanceIconBox {
    background-color: #f09033;
}

.barriereIconBox {
    background-color: #60bf71;
}

.codeIconBox {
    background-color: #399ce5;
}

.seoIconBox {
    background-color: #9a58f6;
}

.featureIconBox i {
    color: white;
    font-size: 1.5rem;
}

.featureCardTitle {
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
}

.featureCardText {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    width: 90%;
    color: #4f5865;
}

.inclusive {
    font-weight: 600;
    color: #79ce7b;
}

@media screen and (max-width: 850px) {
    .featureHeadline {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .checkInquiryButton {
        margin-top: 2rem;
    }

    .featureText {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 450px) {
    .featureHeadline {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .checkInquiryButton {
        justify-content: center;
        width: 9rem;
        margin-top: 2rem;
        padding: .8rem 1rem !important;
        font-size: .9rem !important;
    }

    .featureText {
        font-size: 1.1rem;
    }
}