.testimonialSection {
	width: 100vw;
	height: 120vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--bg-color);
}

.testimonialHeadline {
	margin-top: 5rem;
	color: #121212 !important;
}

.testimonialBox {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: 2rem;
	flex-wrap: wrap;
}

.testimonial {
	width: 40%;
	height: 17rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 2rem;
	border: 1px solid var(--border-color);	
	text-decoration: none;
	background-color: var(--bg-darker);
}

.testimonial-4 {
	border: none;
	background: linear-gradient(300deg,#b969ff,#8f08ff);
    background-size: 120% 120%;
    animation: gradient-animation 12s ease infinite;
}

.testimonialTextBox {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: var(--text-color);
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

.authorPosition {
	color: var(--text-color);
	font-size: 1.2rem;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
}

.testimonialScore {
	color: #ffffff;
	font-size: .7rem;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 1.4rem;
}

.testimonialStars {
	color:rgb(255, 208, 0);
	font-size: 2.8rem;
	display: flex;
	gap	: .7rem;
}

.testimonialExcelent {
	color: #ffffff;
	font-size: 1.7rem;
	font-family: "Nunito", sans-serif;
	font-weight: 700;
}

.testimonialRecommendation {
	color: #ffffff;
	font-size: 1.2rem;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
}

.testimonialAverage {
	color: #ffffff !important;
	font-size: 1.2rem;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
}

@media screen and (max-width: 800px) {
	.testimonialSection {
		height: auto;
	}

	.testimonialBox {
		width: 100%;
	}
	.testimonial {
		width: 90%;
	}

	.testimonialTextBox {
		font-size: 1rem;
	}
}