.processSection {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem;
}

.processContent {
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    overflow: hidden;
}

.processHeader {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.processHeadline {
    font-size: 3rem;
    font-weight: 800;
    color: var(--text-color);
}

.checkInquiryButton {
    background-color: var(--accent);
    color: #ffffff;
    padding: .8rem 1.5rem;
    border-radius: 50rem;
    border: none;
    font-size: 1rem;
    text-decoration: none;
    display: flex;
    gap: 0.3rem;
    align-items: center;
}

.checkInquiryButton:hover {
    margin-right: .1rem;
    background-color: var(--accent-hover);
    cursor: pointer;
    animation: pulse 0.5s;
}

.processList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem 0;
}

.processCard {
    flex: 1 1 300px;
    max-width: calc(100% - 3rem) !important;
    background-color: #360063;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    transition: transform 0.3s ease;
}

.processCardTitle {
    color: var(--text-color);
    margin-bottom: 1rem;
    text-align: start;
    width: 80%;
    margin-left: 10%;
    font-size: var(--big-text-size);
    text-align: center;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
}

.processCardDescription {
    color: var(--text-color);
    margin-bottom: 1rem;
    text-align: start;
    width: 80%;
    margin-left: 10%;
    font-size: var(--normal-text-size);
    text-align: center;
    hyphens: auto;
    overflow-wrap: break-word;
    word-break: break-word;
    lang: de;
}