.portfolioSection {
    width: 100%;
    max-width: 1920px;
    height: auto;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.portfolioHeadline {
    text-align: center;
    color: var(--text-color);
}

.portfolioList {
    width: 100%;
    height: 17rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.portfolio-atropos {
    width: 25rem !important;
    height: 15rem !important;
    border-radius: 12px;
}

.portfolioItem {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}