.checkHeroSection {
    width: 100vw;
    height: calc(100vh - 4rem);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    background-image: radial-gradient(rgba(12, 12, 12, 0.1) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
    /*background-color: white;*/
}

.checkHeroSectionContent {
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    overflow: hidden;
}

.topPill {
    padding: .5rem 1rem;
    border-radius: 5rem;
    background-color: #e3d4ff;
    font-weight: 600;
    color: var(--primary);
}

.checkHeroTitle {
    text-align: center;
    font-weight: 900;
    font-size: 5rem;
    line-height: 5.5rem;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(90deg, rgba(93, 74, 234, 1) 0%, rgba(148, 77, 234, 1) 50%, rgba(93, 74, 234, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: -15px 15px 25px rgba(0, 0, 0, 0.25);
}


.checkHeroText {
    width: 80%;
    font-size: 1.5rem;
    text-align: center;
    color: #535b69;
    font-family: "Poppins", sans-serif;
}

.highlighted {
    color: var(--primary);
}

.bold {
    font-weight: 700;
}

.checkHeroFeatures {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.checkFeatureIcon {
    font-size: 1.5rem;
    color: #79ce7b;
}

.heroFeature {
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    color: #4f5865;
}

.checkHeroCTAButton {
    padding: .8rem 2rem;
    font-size: 1rem;
    border: none;
    border-radius: 12px;
    background-color: var(--primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.checkHeroCTAButton:hover {
    transition: .3s ease-in-out;
    background-color: var(--primary-hover);
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    .topPill {
        font-size: .8rem;
    }
    
    .checkHeroTitle {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .checkHeroText {
        font-size: 1.2rem;
    }

    .checkHeroFeatures {
        gap: 0.5rem;
    }
}