.headerContainer {
    width: 100vw;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    max-width: 1920px;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000000000000000;
}

.logoBox {
    position: relative;
    margin-left: 2rem;
}

.logoLink {
    text-decoration: none;
}

.logo {
    color: white;
}

.linkBox {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.headerLink {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 500;
}

.headerLink::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px; /* etwas Abstand zum Text */
    width: 0;
    height: 5px;
    background-color: var(--accent); /* deine Akzentfarbe */
    transition: width 0.3s ease-in-out;
}

.headerLink:hover::after {
    width: 100%;
}

.buttonBox {
    margin-right: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.headerButton {
    font-size: 1.3em;
    color: #ffffff;
}

.instagramButton {
    font-size: 1.2rem;
}

.anfrageButton {
    background-color: var(--accent);
    color: #ffffff;
    padding: 0.5rem 1.5rem;
    border-radius: 50rem;
    font-size: 1rem;
    text-decoration: none;
    display: flex;
    gap: 0.3rem;
    align-items: center;
}

@media screen and (max-width: 850px) {
    .headerContainer {
        height: 3.5rem;
    }
    
    .header {
        height: 3.5rem;
    }

    .logoBox {
        margin-left: 1rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .buttonBox {
        margin-right: 1rem;
    }
}