@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #F7F7F7;
  --bg-darker: #ffffff;
  --bg-contrast: #121212;

  --border-color: #cecece7d;

  --text-color: #535b69;
  --text-white: #ffffff;
  --title-color: #410347;
  --sub-title-color: #360063;
  --link-color: #cccccc;
  --link-color-darker:#acacac;

  --primary: #8F08FF;
  --primary-hover:#7905d7;

  --accent: #EA9403;
  --accent-hover:rgb(214, 136, 1);

  --headline-size: 4rem;
}

html {
  scroll-behavior: smooth !important;
}

body {
  font-family: "Nunito", sans-serif;
  width: 100vw !important;
  max-width: 100vw !important;
  overflow-x: hidden !important;
}

::selection {
  background: #8F08FF;
  color: #fff;
}

.primaryHighlight {
  font-weight: 800;
  font-style: italic;
}

.nunitoText {
  font-family: "Nunito", sans-serif;
}

.bigTitle {
  font-family: "Poppins", sans-serif; 
  font-size: 5rem;
  color: #ffffff;
  font-weight: 700;
}

.headline {
  color: #ffffff !important;
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .headline {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 500px) {
  .headline {
    font-size: 2.2rem;
  }
}













