.heroSection {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #F7F7F7;
    background-image: radial-gradient(rgba(12, 12, 12, 0.1) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
    padding: 2rem 0;
}

.topPill {
    margin-top: 1rem;
    padding: .5rem 1rem;
    border-radius: 5rem;
    background-color: #e3d4ff;
    font-size: .8rem;
    font-weight: 600;
    color: var(--primary);
}

.heroTitle {
    text-align: center;
    font-weight: 900;
    font-size: 5rem;
    line-height: 5.5rem;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(90deg, rgba(93, 74, 234, 1) 0%, rgba(148, 77, 234, 1) 50%, rgba(93, 74, 234, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: -10px 10px 25px rgba(0, 0, 0, 0.25);
}


.heroText {
    width: 60%;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: black;
    font-family: "Poppins", sans-serif;
}

.heroCTAButton {
  margin-top: 1rem;
    padding: .8rem 2rem;
    font-size: 1rem;
    border: none;
    border-radius: 12px;
    background-color: var(--primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-decoration: none;
}

.heroCTAButton:hover {
    transition: .3s ease-in-out;
    background-color: var(--primary-hover);
    cursor: pointer;
}

@keyframes upDown {
  50% {
    transform: translateY(1rem);
  }
}

@media screen and (max-width: 850px) {
    .heroTitle {
        font-size: 4.5rem;
        line-height: 5rem;
    }
}

@media screen and (max-width: 750px) {
    .heroTitle {
        font-size: 4rem;
        line-height: 4.5rem;
        height: auto !important;
    }
}

@media screen and (max-width: 650px) {
    .heroSection {
        padding: 0 !important;
    }
    
    .heroTitle {
        font-size: 3rem;
        line-height: 3.5rem;
        width: 90%;
    }

    .heroText {
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .topPill {
        font-size: .6rem !important;
    }
    
    .heroTitle {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .heroText {
        font-size: 1rem;
        width: 80%;
    }
}